

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Badge</title>
    <link rel="stylesheet" href="../style.css">
</head>

<body>
    <header class="nav-header">
        <div class="nav-header-div">
            <div class="nav-header-div-lt">
                <a class="text-dec-none font-bold margin-lr font-primary-color" href="../index.html">Home</a>
                <a class="text-dec-none font-bold margin-lr font-primary-color" href="../fitness.html">Fitness</a>
                <a class="text-dec-none font-bold margin-lr font-primary-color" href="#">About us</a>
                <a class="text-dec-none font-bold margin-lr font-primary-color" href="#">Blogs</a>
            </div>
            <div class="nav-header-div-rt">
                <a href="https://github.com/eakansh125/Fleet-UI/tree/dev"><img class="margin-lr"
                        src="https://img.icons8.com/ios-filled/20/000000/github.png" alt="icon"/></a>
                <a href="#"><img class="margin-lr" src="https://img.icons8.com/material/20/000000/do-not-disturb-2.png" alt="icon"/></a>
            </div>
        </div>
    </header>

    <div class="view">
        <aside>
            <div class="nav-pill">
                <a href="general.html">General</a>
                <a href="microprocessor.html">Microprocessor</a>
                <a class="active" href="sudoku.html">Sudoku Solver</a>
                
            </div>
        </aside>

        <main class="main-view">
            <div class="main-view-container">
                <h2>Graph visualization</h2>
                <p>----------COMING SOON------------</p>
                <h2>Growth</h2>
                <p>----------COMING SOON------------</p>
                <h2>Average Results</h2>
                <p>----------COMING SOON------------</p>                    
            </div>
        </main>
    </div>

</body>

</html>